body {
 background-color: #d5d5d5;
 height: 2000px;
 font-family: 'Roboto', sans-serif;
}

button {
 border-radius: 0px !important;
}

.section {
 font-size: 6em;
 text-align: center;
}

.row {
 margin-left: 0px;
 margin-right: 0px;
}

.row .group-buttons {
 margin: 0px
}

.row .title-content-wrapper {
 margin-right: 0px;
 margin-left: 0px;
}

.hero-image-container {
 background: url(/assets/img/top-image-desktop.jpg) no-repeat;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: contain;
 height: 1800px;
}

.top-title-text h3 {
 text-align: center;
 color: white;
}

.woman-group-side, .mens-group-side span {
 font-family: 'Roboto', sans-serif;
 font-weight: 100;
 color: white;
 font-size: 35px;
}

.hide {
 display: none;
}

.mobile-title-content-wrapper {
 display: none;
}

.home-wrapper {
 padding: 0px;
}

.container-fluid {
 margin: 0px;
 padding: 0px;
}

.filter-wrapper-list .dropdown {
 padding: 0 20px;
}

.filter-wrapper {
 display: inline-flex;
 margin: 0 auto;
 width: 60%;
 display: flex;
 justify-content: center;
}

.filter-wrapper .dropdown .btn .btn-link {
 color: black;
}

a {
 text-decoration: none;
}

.dropdown button {
 color: black;
}

.dropdown button:hover {
 border-bottom: 2px solid black;
 text-decoration: none;
 color: black;
}

#clear-filters {
 color: black;
}

.table td, .table th {
 padding: 2rem;
}

.narrow-down {
 width: 100%;
 margin: 0 auto;
 display: block;
 text-align: center;
 font-size: 14px;
 color: #828282;
}

.womans-button-wrapper, .mens-button-wrapper.group-buttons button {
 padding: 9px 25px;
}

.title-content-wrapper {
 margin-top: 9%;
}

.top-title .element {
 margin: 50px 0px;
}

.top-title .image-element {
 margin: 220px 0px;
}

.group-buttons button {
 margin: 0 auto;
 background-color: white;
 border-radius: 0px;
 color: black;
 font-family: 'Roboto', sans-serif;
 padding: 15px 40px;
}

.image-element img {
 display: block;
 margin: 0 auto;
 width: 475px;
}

.group-buttons button {
 display: block;
}

.top-container {
 margin-bottom: 465px;
}

.city-group-gender-title span {
 font-size: 25px;
 letter-spacing: 5px;
 font-weight: 400;
}

.city-group-gender-title {
 margin-bottom: 70px;
}

.authentic-text h6 {
 font-family: 'Roboto', sans-serif;
 font-size: 60px;
 font-weight: 300;
 margin-bottom: 75px;
}

.you-are-enough-text span {
 font-weight: 500;
 font-size: 25px;
}

.you-are-enough-text {
 margin-bottom: 50px;
}

.group-description p {
 font-size: 15px;
 line-height: 2.1;
 width: 100%;
 padding: 0px;
 padding-left: 14px;
}

.middle-image-wrapper img {
 width: 100%;
}

.table {
 margin-top: 50px;
}

.sign-up-today p {
 padding: 0px 170px;
 line-height: 2.1;
}

.sign-up-today h3 {
 font-weight: 300;
 font-size: 35px;
}

.sign-up-container {
 margin-top: 100px;
 margin-bottom: 80px;
}

.group-content-wrapper {
 margin-bottom: 100px;
}

.map {
 padding: 0 25px;
}

.map iframe {
 width: 100%;
 height: 480px;
}

.womans-button, .mens-button {
 font-size: 24px;
}

.videoWrapper {
 position: relative;
 padding-bottom: 50.25%;
 padding-top: 25px;
 height: 0;
}

.videoWrapper iframe {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
}


/* media quiries */

@@media only screen and (max-width: 2600px) {
 .title-content-wrapper {
  margin-top: 9%;
 }
 .woman-group-side, .mens-group-side span {
  font-size: 30px;
 }
 .image-element img {
  max-width: 400px;
 }
 .top-title .image-element {
  margin: 138px 0px;
 }
 .group-buttons button {
  padding: 9px 32px;
 }
 .womans-button, .mens-button {
  font-size: 16px;
  font-weight: 400;
 }
 .mens-alive-text {
  margin-bottom: 64px;
 }
 .mens-button-wrapper {
  padding: 9px 25px;
 }
 .city-group-gender-title span {
  font-size: 20px;
  letter-spacing: 6px;
  font-weight: 400;
 }
 .top-container {
  margin-bottom: 359px;
 }
}

@media only screen and (max-width:1920px) {
 .title-content-wrapper {
  margin-top: 9%;
 }
 .woman-group-side, .mens-group-side span {
  font-size: 30px;
 }
 .image-element img {
  max-width: 400px;
 }
 .top-title .image-element {
  margin: 138px 0px;
 }
 .group-buttons button {
  padding: 9px 32px;
 }
 .womans-button, .mens-button {
  font-size: 16px;
  font-weight: 400;
 }
 .mens-alive-text {
  margin-bottom: 64px;
 }
 .mens-button-wrapper {
  padding: 9px 25px;
 }
 .city-group-gender-title span {
  font-size: 20px;
  letter-spacing: 6px;
  font-weight: 400;
 }
 .top-container {
  margin-bottom: 359px;
 }
}

@media only screen and (max-width:1680px) {
 /*.woman-group-side, .womans-button {
  padding-right: 50px;
 }*/
 .mens-group-side, .mens-button {
  padding-left: 50px;
 }
 .group-buttons .womans-button-wrapper {
  padding-right: 50px;
 }
 .group-buttons .mens-button-wrapper {
  padding-left: 50px;
 }
 .top-container {
  margin-bottom: 300px;
 }
 .image-element img {
  max-width: 300px;
 }
 .top-title .image-element {
  margin: 123px 0px;
 }
}

@media only screen and (max-width:1600px) {
 .title-content-wrapper {
  margin-top: 8%;
 }
 .woman-group-side, .mens-group-side span {
  font-size: 22px;
 }
 .image-element img {
  max-width: 280px;
 }
 .top-container {
  margin-bottom: 350px;
 }
}

@media only screen and (max-width:1366px) {
 .top-container {
  margin-bottom: 300px;
 }
}

@media only screen and (max-width:1440px) {
 .title-content-wrapper {
  margin-top: 6%;
 }
 .top-title .image-element {
  margin: 110px 0px
 }
 .image-element img {
  max-width: 260px;
 }
 /*.group-buttons button {
padding: 8px 28px;
}
.top-title .element {
margin: 50px 0px;
margin-bottom: 0px;
}*/
}

@media only screen and (max-width:1280px) {
 .top-title .image-element {
  margin: 102px 0px;
 }
 .group-buttons button {
  padding: 8px 27px;
 }
 .title-content-wrapper {
  margin-top: 4%;
 }
}

@media only screen and (max-width:1025px) {
 .woman-group-side, .mens-group-side span {
  font-size: 16px;
 }
 .image-element img {
  max-width: 225px;
 }
 .top-title .image-element {
  margin: 56px 0px;
 }
 .group-buttons button {
  padding: 6px 20px;
  font-size: 14px;
 }
}

@media only screen and (max-width:960px) {
 .top-container {
  margin-bottom: 273px;
 }
}

@media only screen and (max-width:800px) {
 .image-element img {
  max-width: 170px;
 }
 .top-title .image-element {
  margin: 36px 0px;
 }
 .woman-group-side, .mens-group-side span {
  font-size: 14px;
 }
 .group-buttons button {
  padding: 6px 18px;
  font-size: 12px;
 }
}

@media only screen and (max-width:480px) {
 .hero-image-container {
  background: url(/assets/img/mobile-bg.jpg) no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: contain;
  height: 1800px;
 }
 .title-content-wrapper, .group-buttons {
  display: none;
 }
 .mobile-title-content-wrapper {
  display: unset;
 }
 .mobile-title-content-wrapper .top-title span {
  color: white;
 }
 .image-element img {
  max-width: 240px;
 }
 .top-title .image-element {
  margin: 15px 0px;
 }
 .woman-group-side, .womans-button {
  padding-right: 12px;
  background-color: white;
  color: black;
 }
 .signuplink {
  color: #292b2c;
  text-decoration: none;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid #212529;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
 }
 .signup-btn:hover {
  color: inherit;
 }
 .mens-section {
  margin-top: 150px;
 }
 .top-title .element {
  margin: 10px 0px;
 }
 .top-title .image-element {
  margin: 55px 0px;
 }
 .mens-section .mens-logo {
  margin: 85px 0px;
 }
}

@media only screen and (max-width:425px) {
 .image-element img {
  max-width: 200px;
 }
 .top-title .image-element {
  margin: 43px 0px;
 }
 .mens-section .mens-logo {
  margin: 65px 0px;
 }
 .womans-button {
  font-size: 14px;
 }
}

@media only screen and (max-width:375px) {
 .top-title .image-element {
  margin: 29px 0px;
 }
 .mens-section .mens-logo {
  margin: 50px 0px;
 }
 .womans-button {
  font-size: 12px;
 }
 .mens-section {
  margin-top: 120px;
 }
}

@media only screen and (max-width:320px) {
 .top-title {
  font-size: 12px;
 }
 .image-element img {
  max-width: 165px;
 }
 .top-title .image-element {
  margin: 22px 0px;
 }
 .womans-button-wrapper button {
  padding: 8px;
 }
 .mens-section {
  margin-top: 98px;
 }
 .mens-section .mens-logo {
  margin: 44px 0px;
 }
}


/*  Filters dropdowns */

.dropdown:hover>.dropdown-menu {
 display: block;
}

border: 1px solid #212529;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
user-select: none;

}
.signup-btn:hover {
 color: inherit;
}

/*  Filters dropdowns */
.dropdown:hover>.dropdown-menu {
 display: block;
}
