/*.section1 {
    background-color: blue;
}

.section2 {
    background-color: black;
}

.section3 {
    background-color: red;
}

.section4 {
    background-color: yellow;
}*/

.section {
    font-size: 6em;
    text-align: center;
}
