.section {
    font-size: 6em;
    text-align: center;
}

.home-section {
    background: url(/assets/img/top-image-desktop.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.home-section button {
    width: 15%;
}

.top-wrapper {
    display: inline-flex;
    height: 100%;
}

.selector-for-some-widget {
    box-sizing: content-box;
}

.womans-community-side, .mens-community-side h4 {
    color: white;
}

.womans-logo-container, .mens-logo-container {
    height: 170px;
    margin: 150px 0px 80px 0px;
}
